{{#if this.args.route}}
	<LinkTo
		@tagName="button"
		@route={{this.args.route}}
		class="{{sizeVariant}} {{colorVariant}} {{@class}}">
		{{yield}}
	</LinkTo>
{{else}}
	<button class="{{sizeVariant}} {{colorVariant}} {{@class}}">
		{{yield}}
	</button>
{{/if}}